# Database Configuration
DB_CONNECTION_STRING=Server=localhost;Port=3306;Database=laboratorios;Uid=user;Pwd=password

# AWS Configuration
AWS_ACCESS_KEY=your_access_key_here
AWS_SECRET_KEY=your_secret_key_here
AWS_SESSION_TOKEN=your_session_token_here
AWS_REGION=us-east-1
AWS_BUCKET_NAME=your_bucket_name
